

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.PostLinks {
	display: flex;
	justify-content: space-around;
	padding: 12px;
	flex-wrap: wrap;
	gap: 16px;
}

.HomePost {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #F7F9FB;
	margin: 0;
	padding: 4px;
	border-radius: 16px;
	border-color: var(--light-gray);
	border-style: solid;
	border-width: 2px;

	width: 320px;
	height: 320px;
}



.PostInfo {
	color: var(--fern);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;
}

.PostInfo:hover {
	color: var(--la-palma);
}



.HomePost .PostContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.HomePost:hover {
	border-color: var(--fuscous-gray);
}

.HomePage {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.PostSeller {
	color: var(--light-gray);
	margin: 0px;
}

.PostPrice {
	margin-top: 16px;
	font-size: 28px;
}

.PostSeller:hover {
	color: var(--fuscous-gray);
}

.HeaderTitle {
	color: var(--fern);
}

.HomePost .Pictures img {
  width: 100%; 
  max-width: 200px; 
	max-height: 200px;
  height: auto; 
	margin: 0px;
}

.SellerApproveContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 32px;
}
